<p>This is the dialogdemo view.</p>
<div ng-controller="DialogDemoCtrl">
            <div class="span5 article-tree">
                <div ng-style="{'overflow': 'auto'}">

                    <div class="tree well">
                    <ul>
                    <node-tree ng-model="displayTree"></node-tree>
                    </ul>

                    </div>
                </div>
            </div>
        </div>
         <!-- <script type="text/javascript"> -->

<!--
var shape1 = new mojs.Shape({
  shape:        'circle',  // shape "circle" is default
  radius:       25,        // shape radius
  fill:         'white',   // same as 'transparent'
  stroke:       '#F64040', // or 'cyan'
  strokeWidth:  5,         // width of the stroke
  isShowStart:  true,      // show before any animation starts
});


var circle = new mojs.Shape({
  shape:        'circle',
  radius:       10,
  radiusX:      20, // explicit radiusX
  left:         '25%',
  fill:         'deeppink',
  isShowStart:  true,
});

var rect = new mojs.Shape({
  shape:        'rect',
  radius:       10,
  radiusX:      20, // explicit radiusX
  left:         '50%',
  fill:         'cyan',
  isShowStart:  true,
});

var polygon = new mojs.Shape({
  shape:        'polygon',
  radius:       10,
  radiusY:      20, // explicit radiusY
  left:         '75%',
  fill:         'yellow',
  isShowStart:  true,
});

  </script> -->