<div  class="modal-demo">

        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">Audio</h3>
        </div>
        <div class="modal-body" id="modal-body">


                 <form>
                     <input type="file" ng-file-select="onFileSelect($files)" >
 <!--  <input type="file" ng-file-select="onFileSelect($files)" multiple> -->
                </form>
                <b>Preview:</b><br />
                <i ng-hide="imageSrc">No image choosed</i>
                <img class="imagenx" ng-src="{{imageSrc}}" alt="Sin Imagen"/><br/>
                <b>Progress:</b>
                <progress value="{{progress}}"></progress>


<ng-audio-recorder id='audioInput' audio-model='recordedInputjj' show-player="true" >
  <!-- Start controls, exposed via recorder-->
  <div ng-if="recorder.isAvailable">
    <button ng-click="recorder.startRecord()" type="button" ng-disabled="recorder.status.isRecording">
        Start Record
    </button>
    <button ng-click="recorder.stopRecord()" type="button" ng-disabled="recorder.status.isRecording === false">
        Stop Record
    </button>
    <button ng-click="recorder.playbackRecording()" type="button"
            ng-disabled="recorder.status.isRecording || !recorder.audioModel">
        Play Back
    </button>
    <button ng-click="recordedInputa.f1()" >f1</button>

    <button ng-click="recorder.save()" >
    <!-- ng-disabled="recorder.status.isRecording || !recorder.audioModel"> -->
                Download
            </button>
  </div>

  <div ng-if="!recorder.isAvailable">
    Message for users when recording is not possible.
  </div>
  <!-- End controls-->
</ng-audio-recorder>
   <button ng-click="$ctrl.f1(recordedInputjj)"  >f1</button>
   <button ng-click="$ctrl.ok()"  >f21</button>





        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-show="okdisponible" ng-click="$ctrl.ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
        </div>

        </div>
