<p>This is the perfiles view.</p>
<ng-audio-recorder id='audioInput' audio-model='recordedInputjj' show-player="true" >
  <!-- Start controls, exposed via recorder-->
  <div ng-if="recorder.isAvailable">
    <button ng-click="recorder.startRecord()" type="button" ng-disabled="recorder.status.isRecording">
        Start Record
    </button>
    <button ng-click="recorder.stopRecord()" type="button" ng-disabled="recorder.status.isRecording === false">
        Stop Record
    </button>
    <button ng-click="recorder.playbackRecording()" type="button"
            ng-disabled="recorder.status.isRecording || !recorder.audioModel">
        Play Back
    </button>
    <button ng-click="recordedInputa.f1()" >f1</button>

    <button ng-click="recorder.save()" ng-disabled="recorder.status.isRecording || !recorder.audioModel">
                Download
            </button>
  </div>

  <div ng-if="!recorder.isAvailable">
    Message for users when recording is not possible.
  </div>
  <!-- End controls-->
</ng-audio-recorder>
   <button ng-click="recordedInputa.f1(recordedInputjj)"  >f1</button>
<div id="waveform"></div>
